* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  background-size: cover;
  background-repeat: no-repeat;
}

header,
main {
  padding: 2rem;
}

header > div,
main > div {
  margin: 0 auto;
  min-width: 325px;
  max-width: 650px;
  border: 1px dashed rgba(114, 96, 96, 0.5);
}

/* header */
.title h1 {
  color: #80d0c7;
  margin: 0;
  font-family: "Rouge Script", cursive;
  font-size: 4rem;
  font-weight: 900;
  text-align: center;
  text-shadow: 1px 1px 2px white;
}

/* main */

.capture-form {
  min-width: 300px;
  max-width: 450px;
  padding: 1rem;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.25);
}

.input-controls {
  text-align: center;
}

.todo-button {
  background-color: #80d0c7;
  border: 1px solid #d1e4e2;
}

.input-controls input[type="text"] {
  margin: 1rem 0;
}

.todo-card {
  padding: 0.5rem;
  margin: 0.5rem 0;
}
